/* .content-move {
    box-shadow: 0 20px 40px 0 rgb(50 50 50 / 8%);
} */
.header-bg .bg-content span {
    width: 120px;
    height: 120px;
    justify-content: center;
    margin-bottom: 10px;
}

.header-bg .bg-content .site-logo {
    width: 100px;
    height: 100px;
}

.comments-and-visitors {
    max-width: 1160px;
    box-sizing: border-box;
    padding: 0 16px;
    margin: 0 auto;
}

.comments-and-visitors .leancloud_visitors {}

#vcomments {
    margin: 2em auto 0;
    background: hsla(0,0%,100%,.8);
}

#vcomments #veditor {
    min-height: 4em;
    /* background-color: #fdfdfd; */
}