/* .content-move {
    box-shadow: 0 20px 40px 0 rgb(50 50 50 / 8%);
} */
.header-bg .bg-content span {
    width: 120px;
    height: 120px;
    justify-content: center;
    margin-bottom: 10px;
}

/* 首页中间logo */
.header-bg .bg-content .site-logo {
    width: 100px;
    height: 100px;
}

/* 阅读数和评论块 */
.comments-and-visitors {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 1em;
}

/* 阅读数块 */
.comments-and-visitors .visitors {
    padding-right: 4em;
    text-align: right;
    color: #777;
    margin-bottom: -1em;
}
/* 阅读数span */
.comments-and-visitors .visitors .leancloud_visitors {
    position: relative;
    top: -2em;
    z-index: 101;
}
/* 阅读数和评论分割线 */
.divition-line {
    max-width: 1000px;
    height: 2px;
    margin: 0 auto;
    background-color: #e06c75;
    border: none;
}

/* 评论块 */
#vcomments {    
    margin: 0 auto;
    margin-top: 4em;
    max-width: 1000px;
}

/* 评论输入 */
#vcomments #veditor {
    min-height: 4em;
    /* background-color: #fdfdfd; */
}

/* 文章内容 */
.article-content div.content {
    max-width: 1000px;
}
